---
name: CI

"on":
  pull_request:
  merge_group:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  ci-status-check:
    runs-on: ubuntu-slim
    needs:
      - build
      - yamllint
    if: failure()
    timeout-minutes: 10
    permissions: {}
    steps:
      - run: exit 1

  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: aqua-installer
        uses: ./.github/composites/aqua-installer

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.25

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9.2.0
        with:
          version: v2.7.2

      - name: test
        run: task test

      - name: Build
        run: task build

  yamllint:
    runs-on: ubuntu-latest
    steps:
      - name: "checkout"
        uses: "actions/checkout@v4"

      - name: "review yaml format"
        uses: reviewdog/action-yamllint@v1
        with:
          github_token: "${{ secrets.GITHUB_TOKEN }}"
          reporter: "github-pr-review"
          level: "warning"
          yamllint_flags: "-c .yamllint.yaml ."
          fail_level: "error"
