---
name: CI

"on":
  push

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6

      - name: Build
        run: go build cmd/local-mesh/main.go
