---
name: CI

"on":
  push:

jobs:
  ci-status-check:
    runs-on: ubuntu-slim
    needs:
      - build
    if: failure()
    timeout-minutes: 10
    permissions: {}
    steps:
      - run: exit 1

  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.25

      - name: Build
        run: go build cmd/local-mesh/main.go
