name: tagpr

"on":
  push:
    branches:
      - main

concurrency:
  group: tagpr-${{ github.ref }}
  cancel-in-progress: true

jobs:
  tagpr:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      issues: read

    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false

      # using usadamasa-tagpr
      - uses: actions/create-github-app-token@v2
        id: app-token
        with:
          app-id: ${{ vars.TAGPR_APP_ID }}
          private-key: ${{ secrets.TAGPR_PRIVATE_KEY }}

      - uses: Songmu/tagpr@v1
        env:
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}
