# https://github.com/Songmu/tagpr
name: tagpr

"on":
  push:
    branches:
      - main

concurrency:
  group: tagpr-${{ github.ref }}
  cancel-in-progress: true

jobs:
  tagpr:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      issues: read
      packages: write

    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false

      # using usadamasa-tagpr
      - uses: actions/create-github-app-token@v2
        id: app-token
        with:
          app-id: ${{ vars.TAGPR_APP_ID }}
          private-key: ${{ secrets.TAGPR_PRIVATE_KEY }}

      - uses: Songmu/tagpr@v1
        id: tagpr
        env:
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.25

      - name: "Release"
        uses: goreleaser/goreleaser-action@v6
        if: "steps.tagpr.outputs.tag != ''"
        with:
          distribution: goreleaser
          version: "~> v2"
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
